In [4]:
import pandas as pd

df1 = pd.read_csv('reddit_training_data.csv')
df2 = pd.read_csv('hardware_zone_training_data.csv')

In [5]:
merged_df = pd.concat([df1, df2],)
merged_df

,"in that sense, it's possible to say that my generation has a much better $T$ than our elders, if i compare how things are now for my family, and how they used to be",what does edmw think? according to $T$ latest financial statements: cdac audited report fy 2021 read cdac audited report fy 2021 by cdac on issuu and browse thousands of other publications on our platform
0,access to education,NaN
1,1,NaN
2,>the da will soon make public a plan to turn n...,NaN
3,access to education,NaN
4,1,NaN
...,...,...
9011,NaN,wealth tax
9012,NaN,0
9013,NaN,"singapore $T$ not so easy, prime minister le..."
9014,NaN,wealth tax
9015,NaN,-1

In [ ]:
merged_df.to_csv('reddit_hwz_training_data.csv', index=False)