In [1]:
import pandas as pd
import random

df = pd.read_csv('chuanwu.csv')
df.head()

,Term,Platform,Target_Sentence,Sentiment
0,access to education,Reddit,"in that sense, it's possible to say that my g...",1
1,access to education,Reddit,>the da will soon make public a plan to turn n...,1
2,access to education,Reddit,""" let's make no mistake - crypto is entirely p...",-1
3,access to education,Reddit,which party has dominated sa politics since 1...,0
4,access to education,Reddit,(i'm a bot)*****> emmanuel macron has said ma...,0

In [2]:
grouped = df.groupby('Term')

train_df = pd.DataFrame(columns=df.columns)
test_df = pd.DataFrame(columns=df.columns)

for name, group in grouped:

    sample_size = int(len(group) * 0.2)
    
    sample_indices = random.sample(range(len(group)), sample_size)
    train_indices = set(range(len(group))) - set(sample_indices)
    
    train_df = pd.concat([train_df, group.iloc[list(train_indices)]])
    test_df = pd.concat([test_df, group.iloc[sample_indices]])

train_df.to_csv('train2.csv', index=False)
test_df.to_csv('test2.csv', index=False)